bin/
bin/*
Thumbs.db
*.class
DER.mwb.bak
DER.mwb.beforefix
.~lock
bin/org/fpij/jitakyoei/view/gui/*.jfd
fpij.db
test.db

# Diretórios de build (compilação)
target/
*.class
*.log

# Dependências baixadas pelo Maven
*.jar
*.war
*.ear
*.pom
*.jpi
*.hpi
/.mvn/


# Diretórios do Maven
.mvn/
dependency-reduced-pom.xml

# Arquivos de logs
*.log

# Arquivos de compilação do IntelliJ
.idea/
*.iml
out/
